.blog-page .blog-deatils a.btn.main-btn {
    background-color: red !important;
    color: white !important;
}
#return-to-top i {
    color: red !important;
}
.blog-page p.post_date span.date {
    color: white !important;
    background: red !important;
}
.blog-page .blog-deatils ul i.fas.fa-user.icon, .blog-page .blog-deatils ul i.fas.fa-comments, .blog-page .blog-deatils ul i.fas.fa-tag {
    color: red !important;
}
.blog-page span.month {
    color: white !important;
    background: red !important;
}

.page-numbers.current {
    color:white !important;
    background: red !important;
}

#mainSlider .owl-carousel h1 {
    font-size: 75px;
    color: red !important;
    text-transform: uppercase;
}

.blog_post a.btn.main-btn {
    color: #fff !important;
    background: red !important;
}

#mainSlider .owl-carousel a.btn.btn-large {
    border: 3px solid red !important;
}

#mainSlider .owl-carousel a.btn.btn-large:hover {
    color: #000 !important;
    background: red !important;
}